*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
       display: flex;
       height: 40px;
       width: 100%;
       position: fixed;
}

.line{
    height: 0.6px;
    background-color:#e1e1e9;
    margin-top: 20px;
}

.items{
    background-color:white;
    height: 2500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 5px;
    column-gap: 3px;
    margin: auto;
    margin-top: 10px;
    width:778px;
    align-items: start;
}

